.cars-row-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

:root {
  --black-color: black;
}
.black-clr {
  background: var(--black-color);
  color: white;
  
}
